#seccio_0 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4vmax;
}
#credencials {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-size: 3vmax;
    margin: 5vmin;
}
#credencials div {    /* els 2 <div> dins de credencials */
    margin-bottom: 1vmin;
}
#credencials input {    /* els 2 quadres de text dins de credencials */
    max-width: 20vmax;    /* es limita l'espai que ocupen els quadres de text */
    font-size: 3vmax;
}
#botons_sessio {
    display: flex;
    align-items: center;
}
#botons_sessio button {    /* els 2 botons dins de botons_sessio */
    font-size: 3vmax;
    padding: 2vmin;
    margin: 1vmin;
}